<a href="https://colab.research.google.com/github/manugaur99/ASD-classification-using-Large-margin-Softmax-Loss-for-stacked-2D-fMRI-data/blob/main/volumetric_stacking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import os
import numpy as np
from PIL import Image
import matplotlib.pyplot as plt
import pandas as pd
import cv2
from google.colab.patches import cv2_imshow

#Dataset >> normDataset

#Normalising unstacked images

In [ ]:
directory = '/content/drive/MyDrive/ABIDE_NYU/unstacked_dataset/'
# iterate all the 174 patients 

for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
      X = np.load(f)
      zero_arr = np.zeros(X.shape)
      cvnorm_X = cv2.normalize(X,zero_arr,0,1,cv2.NORM_MINMAX)
      print(filename[:len(filename)-14])
#save this normalized array 
      #np.save('/content/drive/MyDrive/ABIDE_NYU/normDataset/' + filename[:len(filename)-14],cvnorm_X)

#Channel Preprocessing to 36 slices

In [ ]:
directory = '/content/drive/MyDrive/ABIDE_NYU/normDataset/'
threshold = 39
shape =10000
count = 0
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
      data = np.load(f)
      shape = min(shape,data.shape[2])
      count+=1
print(shape)
print(count)

36
532

In [ ]:
directory = '/content/drive/MyDrive/ABIDE_NYU/normDataset/'
threshold = 36
count= 0
for filename in os.listdir(directory):
    f = os.path.join(directory, filename)
    # checking if it is a file
    if os.path.isfile(f):
      count+=1
      data = np.load(f)
      data = data[:,:,:36]
      np.save('/content/drive/MyDrive/ABIDE_NYU/36channeldataset/' + filename,data) #39channeldataset has 532 arrays
      print(count)
print(count)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
532

Selecting images with threshold pixels,stacking them and saving as



Dataset (1 hour to run)

In [ ]:
#ccs 2d has all slices for 3d image file for each patient

dataset = '/content/drive/MyDrive/ABIDE_NYU/more_ccs_2D/'
# iterate all the 174 patients 
for foldername in os.listdir(dataset):
    folder = os.path.join(dataset, foldername)

    directory = folder + '/' 
    # iterate all the slices for a patient
    threshold = 30
    img_list = []
    for filename in os.listdir(directory):
        f = os.path.join(directory, filename)
        # checking if it is a file
        if os.path.isfile(f):
          img = cv2.imread(f)
          if(img.mean()>30):
            img_list.append(img)      #len = 46

    #Let's stack these slices 
    #one channel has only 1 channel of all images for a patient
    onechannel = []
    for img in img_list:
      onechannel.append(img[:,:,0])
    stacked_image = cv2.merge(onechannel)    # shape >> 73,61,46
    #save this stacked image 
    np.save('/content/drive/MyDrive/ABIDE_NYU/more_Dataset/' + foldername,stacked_image)

In [ ]:
img_mean = []
for img in img_list:
  img_mean.append(img.mean()

In [ ]:
print(img_mean)

[0.0, 0.0, 0.0, 1.454300471592185, 16.238041769593533, 24.631259824837187, 34.06961598922075, 45.545699528407816, 55.83000224567707, 62.81899842802605, 66.82596002694812, 70.65169548618908, 72.57871098136089, 76.66741522569055, 83.19155625421064, 91.95194251066697, 110.46934650797215, 123.29598023804176, 131.1843700875814, 137.7430945430047, 142.61284527284977, 146.11655064001798, 148.85111161015047, 150.3669436335055, 150.60835391870648, 151.29508196721312, 151.8385358185493, 150.97642039074782, 148.3069840556928, 148.1286772962048, 146.72557826184595, 145.06400179654165, 143.61127329889962, 141.69144397035706, 139.69818100157198, 135.83718841230632, 133.41792050303167, 130.23938917583652, 125.65326746013923, 121.14776555131373, 117.15427801482147, 112.19335279586795, 107.02380417695936, 100.21805524365597, 94.38221423759263, 86.45969009656412, 79.84437457893554, 70.2735234673254, 61.94363350550191, 53.009431843700874, 43.90253761509095, 32.422411857174936, 22.951942510666967, 11.31169997754323, 2.0622052548843475, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

In [ ]:
pd.set_option('max_rows', 99999)
df = pd.DataFrame(img_mean,columns = ["Mean"])
df

          Mean
0     0.000000
1     0.000000
2     0.000000
3     1.454300
4    16.238042
5    24.631260
6    34.069616
7    45.545700
8    55.830002
9    62.818998
10   66.825960
11   70.651695
12   72.578711
13   76.667415
14   83.191556
15   91.951943
16  110.469347
17  123.295980
18  131.184370
19  137.743095
20  142.612845
21  146.116551
22  148.851112
23  150.366944
24  150.608354
25  151.295082
26  151.838536
27  150.976420
28  148.306984
29  148.128677
30  146.725578
31  145.064002
32  143.611273
33  141.691444
34  139.698181
35  135.837188
36  133.417921
37  130.239389
38  125.653267
39  121.147766
40  117.154278
41  112.193353
42  107.023804
43  100.218055
44   94.382214
45   86.459690
46   79.844375
47   70.273523
48   61.943634
49   53.009432
50   43.902538
51   32.422412
52   22.951943
53   11.311700
54    2.062205
55    0.000000
56    0.000000
57    0.000000
58    0.000000
59    0.000000
60    0.000000

In [ ]:
len = []
listoflist = np.array(l)
for arr_list in listoflist:
  arr_list = np.array(arr_list)
  len.append(arr_list.shape[0])

pd.set_option('max_rows', 99999)
df = pd.DataFrame(len, columns = ["number of images"])
df['number of images'].value_counts().sort_index()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.

39     1
40     2
41     2
42     8
43    15
44    21
45    50
46    48
47    20
48     5
49     1
50     1
Name: number of images, dtype: int64

In [ ]:
import pandas as pd
import numpy as np
pd.set_option("display.max_rows", None, "display.max_columns", None)
df = pd.read_csv('/content/drive/MyDrive/ABIDE_NYU/phenotypes/Phenotypic_V1_0b_preprocessed1.csv')
df = df.filter(['SITE_ID','FILE_ID','DX_GROUP'], axis=1)
#df = df[(df['FILE_ID'].str[:3]=='NYU') | (df['FILE_ID'].str[:4]=='Pitt') | (df['FILE_ID'].str[:4]=='UM_1') | (df['FILE_ID'].str[:3]=='USM') | (df['FILE_ID'].str[:6]=='UCLA_1') | (df['FILE_ID'].str[:6]=='MaxMun')].reset_index()

df = df[df['FILE_ID']!='no_filename']
df['SITE_ID'].value_counts()

NYU         175
UM_1        106
UCLA_1       72
USM          71
PITT         56
YALE         56
MAX_MUN      52
KKI          48
TRINITY      47
STANFORD     39
CALTECH      37
SDSU         36
UM_2         34
OLIN         34
LEUVEN_2     34
SBL          30
LEUVEN_1     29
CMU          27
UCLA_2       26
OHSU         26
Name: SITE_ID, dtype: int64